.front{
	text-align: center;
	font-family: Georgia;
}

/*body {
	background: url('yhackBackground.png') no-repeat center center fixed;
	background-size: cover;
}*/

#login-wrapper {
	text-align: center;
	width: 33%;
	position: absolute;
	top: 40%;
	margin-top: -100px;
	background-color: #ddd;
	margin-bottom: -1000px;
}

#id {
	opacity: 0;
}

